body {
  margin: 0;
  padding: 2rem;
  background-color: #121212;
  color: #eee;
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4fc3f7;
}

canvas {
  display: block;
  margin: 0 auto 1rem;
  background-color: #1e1e1e;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ffc84d;
}

.controls {
  text-align: center;
  margin-bottom: 1rem;
}

select {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background: #333;
  color: white;
}

#stats {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: #ccc;
}

#physics-info {
  max-width: 800px;
  margin: 2rem auto;
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 10px;
  line-height: 1.6;
}

#physics-info h2 {
  color: #ffca28;
  margin-bottom: 1rem;
}
.Pane{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.leftPane{
    margin: 0 40px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
#stats{
    margin : 50px 0px;
    padding: 10px;
    color : lightgreen;
    text-align: center;
}