body {
  margin: 0;
  padding: 2rem;
  background-color: #121212;
  color: #eee;
  font-family: 'Segoe UI', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #4fc3f7;
}

canvas {
  display: block;
  margin: 0 auto 1rem;
  background-color: #1e1e1e;
  border: 1px solid #444;
  border-radius: 12px;
}

.controls {
  text-align: center;
  margin-bottom: 1rem;
}

select {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background: #333;
  color: white;
}

#stats {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: #ccc;
}

#physics-info {
  max-width: 800px;
  margin: 2rem auto;
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 10px;
  line-height: 1.6;
}

#physics-info h2 {
  color: #ffca28;
  margin-bottom: 1rem;
}
.paper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.docFrame{
  margin-top: 20px;
  border-radius: 10px;
  width: 60%;
  height: 90vh;
  overflow: hidden;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  border: 3px solid #4fc3f7;
  width: 15%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin : 10px 20px;
  text-align: center;
  background-color: rgb(190, 190, 190);
  font-size: 20px;
  
}
a{
  text-decoration: none;
}
.card:hover{
  background-color: #4fc3f7;
  box-shadow: 1px 1px 1px 1px white;
  transform: scale(1.05);
  transition: 0.5s ease;
}